.suggestions {
  position: relative;
  margin-top: 10px;
}

.movie-suggestion-container {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.movie-suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.movie-suggestion:hover {
  background-color: #f5f5f5;
}

.movie-suggestion img {
  margin-right: 10px;
}

.movie-suggestion-link {
    text-decoration: none;
    color: inherit;
  }